@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-3">
        <h1>ROBOTO1</h1>
    </div>
    <div class="col-xs-3">
            <h1>ROBOTO2</h1>
    </div>
    <div class="col-xs-3">
            <h1>ROBOTO3</h1>
    </div>
    <div class="col-xs-3">
            <h1>ROBOTO4</h1>
    </div>
</div>