@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @model List<RobotModel>
    @foreach (var item in Model)
    {
    <div class="col-xs-3">
        <img src=@item.Avatar>
        <a href="/user/@item.ID"><h3>@item.Name</h3></a>
        <p>@item.Username</p>
        @if(@item.Job == null){
            <p style="Color:Red"> Available for hire!</p>
        }else{
            <p>@item.Job | @item.Company</p>
        }

    </div>
    }
</div>